{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--  =============CSS============== -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login Page</title>
</head>
<body>
   <!--  ========================MAIN BODY================== -->
    <section class="login__section" id="login-section">

        
        <form action="" class="login__form" id="login-form" method="POST">
           
            {% csrf_token %}
            <div class="login__group" id="login-group">
                <h2 class="login__form_text" id="login-form">Login Form</h2>

                <div class="login__box" id="login-box">
                    <label for="text" class="label_tag">Username</label>
                    <input type="text" class="username" placeholder="username" name="username">
                </div>
                
                <div class="login__box" id="login-box">
                    <label for="text">Email</label>
                    <input type="email" class="email" placeholder="Email" name="email">
                </div>
    
                <div class="login__box" id="login-box">
                    <label for="text">Password</label>
                    <input type="password" class="password" placeholder="Password" name="password">
                </div>

                <div class="login__box" id="login-box">
                    <button type="submit" class="submit__button" id="submit-button">Submit</button>
                </div>
    
            </div>
            {{ form.as_p }}
        </form>
    
    
    </section>



</body>
</html>


